:root {
    --primary: #6c63ff;
    --color-hover: #efefef;
    --text: #161617;
    --text-p: #656565;
    --bg: #fff;
}

*{
	 padding: 0;
     margin: 0;
	 box-sizing: border-box; 
	 list-style: none;
	 text-decoration: none;
}

link .icon{
	font-size: 60px;
}

html{
	scroll-behavior: smooth;
}

html,body{
	width: 100%!important;
	overflow-x: hidden!important;
	height: 100vh;
}

body{
	padding-top: 40px;
	background: var(--bg);
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
}

/*============================
=            HEADER            =
============================*/

header{
	position: fixed;
	display: flex;
    right: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	background: rgb(27,0,36);
    background: linear-gradient(90deg, rgba(27,0,36,1) 0%, rgba(108,99,255,1) 0%, rgba(154,0,255,1) 100%);
	z-index: 100;
    justify-content: space-between;
    align-items: center;
	padding: 22px 16% 30px;
	transition: all .40s ease;
}

/*SCROLL-ABAJO*/

/*END SCROLL-ABAJO*/

.logo{
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 1;
	line-height: 58px;
	color: var(--bg);
}

.logo span{
	font-size: 28px;
	line-height: 58px;
	font-weight: 600;
	letter-spacing: 1;
	color: var(--text);
}

.menu-nav ul{
	display: flex;
}

.menu-nav a{
	margin: 0 2px;
	padding: 10px 25px;
	font-size: 1rem;
	font-weight: 500;
	color: var(--bg);
	transition: all .40s ease;
}

.menu-nav a:hover{
	border-bottom: 2px solid var(--bg);
}

#menu-icon{
	font-size: 35px;
	color: var(--text);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

/*=====  End of HEADER  ======*/

/*============================
=        SECTION-HOME           =
============================*/

section{
	height: auto;
	padding: 80px 16% 60px;
	margin-bottom: -150px;
}

.home{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text-home{
	justify-content: start;
	margin: 120px 0;
}

.title-home-h1{
	margin-bottom: 5px;
	font-size: 45px;
	font-weight: 600;
	letter-spacing: 1;
	color: var(--text);
}

.title-home-h2{
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 1;
	color: var(--text);
}

.parrafo-home{
	margin-bottom: 25px;
	font-size: 1rem;
	font-weight: 400;
	text-align: justify;
	color: var(--text-p);
}

.home img{
	position: relative;
	justify-content: end;
	width: 450px;
	height: auto;
}

.btn{
	display: inline-block;
	padding: 15px 40px;
	border-radius: 0.5rem;
	font-size: 17px;
	font-weight: 500;
	background: rgb(27,0,36);
    background: linear-gradient(90deg, rgba(27,0,36,1) 0%, rgba(108,99,255,1) 0%, rgba(154,0,255,1) 100%);
	color: var(--color-hover);
	transition: all .40s ease;
}

.btn:hover{
	transform: translateY(-5px);
}

/*=====  End of SECTION-HOME  ======*/

/*============================
=      SECTION-NOSOTROS       =
============================*/

.nosotros{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

.img-nosotros{
	width: 450px;
	height: auto;
}

.title-nosotros-h1{
	margin-bottom: 5px;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 1;
	color: var(--text);
}
.parrafo-nosotros{
	margin-bottom: 25px;
	font-size: 1rem;
	font-weight: 400;
	text-align: justify;
	color: var(--text-p);	
}


/*=====  End of SECTION-NOSOTROS  ======*/

/*============================
=      SECTION-SERVICIOS       =
============================*/
.servicios{
	margin-top: 100px;
}

.servicios-text{
	text-align: center;
}

.servicios-text h1{
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1;
	margin-bottom: 5px;
	color: var(--text);
}

.servicios-text h4{
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1;
	color: var(--primary);
}

.servicios-cont{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	align-items: center;
	text-align: center;
	gap: 2rem;
	margin-top: 5rem;
}

.caja{
	padding: 45px;
	/*border-radius: 0.5rem;*/
	box-shadow: 0 15px 25px rgba(0,0,0,0.2);
	cursor: pointer;
	background: var(--bg);
	border-bottom: 5px solid var(--primary);
	transition: all .40s ease;
}

.caja:hover{
	background: rgb(27,0,36);
    background: linear-gradient(90deg, rgba(27,0,36,1) 0%, rgba(108,99,255,1) 0%, rgba(154,0,255,1) 100%);
    border-bottom: none;
}

.caja:hover i{
	color: var(--bg);
}

.caja:hover h3{
	color: var(--bg);
}

.caja:hover p{
	color: var(--bg);
}

.caja i{
	font-size: 60px;
	color: var(--primary);
}

.caja h3{
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	color: var(--primary);
}

.caja p{
	font-size: 1rem;
	font-weight: 400;
	color: var(--text-p);
}

.caja:hover{
	transform: scale(1.01) translateY(-5px);
}


/*=====  End of SECTION-SERVICIOS  ======*/

/*============================
=      SECTION-CONTACTOS      =
============================*/
.contactos-text{
	text-align: center;
}

.contactos-text h1{
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1;
	margin-bottom: 5px;
	color: var(--text);
}

.contactos{
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
	margin-top: 100px;
}

.contactos img{
	width: 450px;
	height: auto;
	margin-bottom: 5rem;
}

/*==========FORMULARIO-CONTACTOS==========*/

.contactos-form form{
	position: relative;	
}

.contactos-form form input, form textarea{
	border: 2px solid var(--primary);
	outline: none;
	width: 100%;
	margin: 5px;
	padding: 18px;
	background: /*#18191a*/ transparent;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 30px; 
	color: black;
}

.contactos-form textarea{
	resize: none;
	height: 220px;
}

.contactos-form .boton{
	margin-top: 5px;
	font-size: 17px;
	font-weight: 600;
	background: rgb(27,0,36);
    background: linear-gradient(90deg, rgba(27,0,36,1) 0%, rgba(108,99,255,1) 0%, rgba(154,0,255,1) 100%);
	color: var(--bg);
	width: 190px;
	transition: all .40s ease;
	margin: 10px;
	cursor: pointer;
}

.contactos-form .boton:hover{
	transform: scale(1.01) translateY(-5px);
}

/*=====  End of SECTION-CONTACTOS  ======*/

/*SCROLL*/
.top{
	position: fixed;
	bottom: 2.5rem;
	right: 2.5rem;
}

.top i{
	color: var(--bg);
	background: rgb(27,0,36);
    background: linear-gradient(90deg, rgba(27,0,36,1) 0%, rgba(108,99,255,1) 0%, rgba(154,0,255,1) 100%);
	font-size: 20px;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
}
/*SCROLL-END*/

/*============================
=           FOOTER            =
============================*/
footer {
	width: 100%;
	background: var(--bg);
	margin: 0 auto;
	color: var(--text);
	text-align: center;
	padding: 30px;
	box-sizing: border-box;
	font-size: 18px;
	margin-top: 15px;
}

/*=====  End of FOOTER  ======*/

/*============================
=      ADAPTACIOM-MOBILE      =
============================*/

@media (max-width: 1325px){
	header{
		padding: 16px 3%;
	}

	section{
		padding: 130px 3%;
	}

	.text-home{
		margin: 50px 0;
	}

	.title-home-h1{
	margin-bottom: 5px;
	font-size: 36px;
	font-weight: 600;
	letter-spacing: 1;
	color: var(--text);
}

   .title-home-h1 span{
   	width: 100px;
	font-size: 38px;
   }

   .title-home-h2{
	font-size: 30px;	
   }

   .img-home{
	width: 400px;
   }
}

@media (max-width: 900px){
	.home{
		flex-direction: column-reverse;
	}

	.text-home{
		justify-content: center;
	}

	.title-home-h1{
	text-align: center;
    }

    .title-home-h1 span{
	text-align: center;
    }
 
    .title-home-h2{
	text-align: center;
    }

    .home img{
	justify-content: center;
	text-align: center;
    }

    .nosotros{
    flex-direction: column;
    }

}

@media (max-width: 860px){
	.contactos img{
		display: none;
	}

	.contactos{
	grid-template-columns: 1fr;
    }
}

@media (max-width: 800px){
	
	.menu-nav{
		position: fixed;
		top: 90px;
		right: -100%;
		background: rgb(27,0,36);
        background: linear-gradient(90deg, rgba(27,0,36,1) 0%, rgba(108,99,255,1) 0%, rgba(154,0,255,1) 100%);
		width: 50%;
		height: 100%;
		padding: 4.5rem 0 0 3rem;
		transition: all .40s ease;
	}

	.menu-nav ul{
	    display: flex;
	    flex-direction: column;
	    row-gap: 3rem;
    }

    .menu-nav.active{
		right: 0;
	}

	#menu-icon{
		display: block;
		color: var(--bg);
	}

	.servicios{
		margin-top: 300px;
	}

}

@media (max-width: 500px){
	.menu-nav{
		width: 70%;
	}

	.home img{
	    width: 350px;
    }

    .nosotros img{
    	width: 350px;
    }

    .contactos img{
    	width: 350px;
    }

    .title-home-h1{
	    font-size: 28px;
    }

    .title-home-h1 span{
	    font-size: 30px;
	    width: 90px;
    }
 
    .title-home-h2{
	    font-size: 25px;
    }

    .title-nosotros-h1{
    	font-size: 30px;
    }

    .servicios h1{
    	font-size: 30px;
    }
}

@media (max-width: 350px){
	.servicios{
		margin-top: 400px;
	}
}

/*=====  End of ADAPTACION-MOBILE  ======*/